
{% extends 'index.html' %}
{% block 'body' %}

    <div class="row">
        {% for f in furniture %}
         <div class="col-lg-4">
              <div class="card" style="width: 18rem;">
          <img src="{{f.image_url}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{f.model}}</h5>
            <p class="card-text">{{f.description}}</p>
            <a href="{% url 'furniture-detail' f.id %}" class="btn btn-primary">See details</a>
          </div>
        </div>
         </div>
        {% endfor %}
    </div>
    {% endblock %}
